name: Tests

on:
  push:
    branches: [main]
  # Needed to allow secrets access to forked PRs, consider breaking up workflow
  # by running tests on pull_request, saving artifacts, and then running another
  # workflow on pull_request_target to allow only minimal access to secrets
  # https://securitylab.github.com/research/github-actions-preventing-pwn-requests/
  pull_request_target:
    branches: [main]
  release:
    types: [published]

jobs:
  tests:
    strategy:
      fail-fast: true
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}

    steps:
      - name: Check out repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.8
          cache: pip
          cache-dependency-path: pyproject.toml

      - name: Install dependencies
        run: |
          pip install -e .[test]

      - name: Run Tests
        run: pytest --capture=no --cov --cov-report=xml .

      - name: codacy-coverage-reporter
        if: matrix.os == 'ubuntu-latest'
        uses: codacy/codacy-coverage-reporter-action@v1
        with:
          project-token: ${{ secrets.CODACY_PROJECT_TOKEN }}
          coverage-reports: coverage.xml

  release:
    runs-on: ubuntu-latest
    needs: tests
    if: github.event_name == 'release' && needs.tests.result == 'success'
    steps:
      - name: Check out repo
        uses: actions/checkout@v3

      - name: Build and upload dist
        run: |
          pip install build twine
          python -m build
          twine check dist/* --strict
          twine upload --skip-existing --repository-url https://upload.pypi.org/legacy/ dist/*.tar.gz
        env:
          TWINE_USERNAME: bowendeng
          TWINE_PASSWORD: ${{ secrets.PYPI_API_TOKEN }}
